*{
    margin: 0;
    padding: 0;
}



nav{
    width: 100%;
    height: 50px;
    background-color:#432371;
    padding: 10px 0;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 20px;
}
nav a:hover{
    color: rgb(255, 0, 0)
}



.login-container{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #1a1111;
    border-radius: 5px;
}
.login-container label{
    font-size: 20px;
}
.login-container h1{
    text-align: center;
    margin-bottom: 10%;
}
.login-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1a1111;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container button{
    width: 100%;
    padding: 10px;
    background-color: #432371;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.registerform{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #1a1111;
    border-radius: 5px;
}
.registerform label{
    font-size: 20px;
}
.registerform h1{
    text-align: center;
    margin-bottom: 10%;
}
.registerform input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1a1111;
    border-radius: 5px;
    box-sizing: border-box;
}
.registerform button{
    width: 100%;
    padding: 10px;
    background-color: #432371;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dash{
    width: 500px;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
}
.dash h2{
    margin-bottom: 20px;
}

.addstudent{
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #1a1111;
    border-radius: 5px;
}
.addstudent label{
    font-size: 20px;
}
.addstudent h2{
    text-align: center;
    margin-bottom: 10%;
}
.addstudent input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1a1111;
    border-radius: 5px;
    box-sizing: border-box;
}
.addstudent button{
    width: 100%;
    padding: 10px;
    background-color: #432371;
    /* font-size: 20px; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container h1{
    text-align: center;
    margin-top:10px;
    margin-bottom: 20px;
}
table{
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

.container table,th,td{
    border: 2px solid black;
}
th,td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: #432371;
    color: white;
    font-size: 20px;
}
td{
    font-size: 18px;
}
.container td a{
    text-decoration: none;
    color: #ffffff;
    
}

#edit-link{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

#delete-link{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

}